# Git Repository File Ignore Specifications
# B&R Automation Studio project directory files
# File: 		.gitignore
# Date: 		2019-09-19
# Created by: 	Tyler Matijevich

# Ignore every Binaries/ directory (the entire folder)
**/Binaries
# Ignore everything INSIDE every Diagnosis/ directory
**/Diagnosis/**
# Ignore every Temp/ directory
**/Temp

# Ignore all .set and .isopen files
*.set
*.isopen
# Make exception for safety code
!cpu.set

# Ignore .zip files, for the moment
*.zip

# Exception for Diagnosis/ sub-directories -> these won't be committed anyways
#   because there are no files inside that will be committed
# Credit: Jim G. on Stack Overflow https://stackoverflow.com/a/25916709/11402416
!**/Diagnosis/**/
# Exception for specific files within Diagnosis/
#!*.tc


# ******************************************************************************
# Project specific ignore paths
# ******************************************************************************
# Save watch windows and task trace configurations
!**/Diagnosis/**/*.PVM
!**/Diagnosis/**/*.tc

# add here
BaseProject/Diagnosis/
Documentation/mappFramework.lck
Documentation/mappFramework.hnd-journal
Documentation/html/
ReleaseBuilder/InstallerSetup/Help/Help-en/mappFrameworkHelp/mappFrameworkHelp/
ReleaseBuilder/InstallerSetup/Install/
ReleaseBuilder/InstallerSetup/TechnologySolution/
ReleaseBuilder/Builder/__pycache__/
