[submodule "ImportTool"]
	path = ImportTool
	url = https://github.com/br-na-pm/mappFrameworkImportTool.git
	branch = .
[submodule "BaseProject"]
	path = BaseProject
	url = https://github.com/br-na-pm/mapp-Framework.git
[submodule "TestProjects"]
	path = TestProjects
	url = https://github.com/br-na-pm/mappFrameworkTestingProjects.git
