<?xml version="1.0" encoding="utf-8"?>
<SnippetsSet id="Recipe_snippets" xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Snippets>
		<Snippet id="RecipeName" xsi:type="session" type="String" formatItem="{1}" />
		<Snippet id="NewRecipeName" xsi:type="session" type="String" formatItem="{1}" />
		<Snippet id="IndexTextSnippetRecipeMsgBoxType" xsi:type="session" type="IndexText" formatItem="IAT/mappFramework/Recipe/MsgBox.Confirm.{1}" />
		<Snippet id="RecipeCurrentPage" xsi:type="session" type="Numeric" formatItem="{1}"  />
	</Snippets>
</SnippetsSet>
