<?xml version="1.0" encoding="utf-8"?>
<SnippetsSet id="PidState_snippets" xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Snippets>
		<Snippet id="PidState" xsi:type="session" type="IndexText" formatItem="IAT/PidStates/State.{1}"  />
	</Snippets>
</SnippetsSet>
