<?xml version="1.0" encoding="utf-8"?>
<SnippetsSet id="PLCopenState_snippets" xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Snippets>
		<Snippet id="PLCopenStateAxis1" xsi:type="session" type="IndexText" formatItem="IAT/PLCopenStates/State.{1}"  />
		<Snippet id="PLCopenStateAxis2" xsi:type="session" type="IndexText" formatItem="IAT/PLCopenStates/State.{1}"  />
	</Snippets>
</SnippetsSet>
